#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-avatar {
  width: 128px;
  height: 128px;
}

.preview {
  //margin-top: 50px;
  display: flex;
  justify-content: center;
}

.fallback {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #bfbfbf;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

ion-label.title{
  font-weight: bold;
  //border: 1px solid black;
}

ion-input{
  --margin: 0px;
  --padding: 0px;
  //border: 1px solid black;
}

ion-col{
  text-align: start;
  vertical-align: middle;
  //border: 1px solid black;
  padding: 3px;
}


ion-col ion-button{
  vertical-align: baseline;
}

ion-icon {
  pointer-events: none;
  //border: 1px solid black;
}

ion-card{
  padding: 0px;
  margin: 2px;

  ion-card-header{
    font-weight: bold;
  }

  ion-card-content{
    font-size: 12px;
  }
}

.icon-edit{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}

.icon-verified {
  display: inline-block;
  font-size: 20px;
  color: #1a7900;
  vertical-align: middle;
 }

 .icon-not-verified {
  display: inline-block;
  font-size: 20px;
  color: #790000;
  vertical-align: middle;
 }

 .text{
   display: inline-block;
   vertical-align: middle;
 }
