<ion-header>
  <ion-toolbar>
    <ion-title>Classify your spectrum</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


 

</ion-header>








<ion-content>
  <ion-item>
    <ion-label>Choose a class</ion-label>



  <ion-select>
    <ion-select-option value="gray">
Gray card
    </ion-select-option>
    <ion-select-option value="sky">
Sky
    </ion-select-option>
    <ion-select-option value="water">
Water
    </ion-select-option>

  <ion-select-option value="lamp">
Lamp 
  </ion-select-option>
<ion-select-option value="other">

Other
</ion-select-option>






  </ion-select>
</ion-item>


</ion-content>
