<ion-header>
  <ion-toolbar>
    <ion-title>Classify your image</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


 

</ion-header>








<ion-content>
  <ion-item>
    <ion-label>Choose a class</ion-label>



  <ion-select>
    <ion-select-option value="leaf">
  Leaf
    </ion-select-option>
    <ion-select-option value="flower">
  
Flower
    </ion-select-option>
    <ion-select-option value="fruit">
Fruit
    </ion-select-option>

  <ion-select-option value="bark">
Bark
  </ion-select-option>
<ion-select-option value="auto">
Automatic
</ion-select-option>






  </ion-select>
</ion-item>


</ion-content>
