<ion-header class="ion-no-border">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        icon="chevron-back-outline"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Additional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-icon name="warning-outline" color="danger"></ion-icon>You can now wind up the
      Secchi disk mechanism.
    </ion-item>

  <ion-item>
    <ion-label> <b>Acidity</b></ion-label>
  </ion-item>

  <ion-item>
    If you used pH paper, compare the colour of the pH strip to the pH colour
    index provided.
  </ion-item>
  <ion-item> <img src="assets/images/ph.png" /><br /> </ion-item>

  <ion-item>
    <ion-label> The pH value is (1-14):</ion-label>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="phvalue"
      type="number"
      inputmode="numeric"
      value="1"
      placeholder="Enter pH value here"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><b> Surface water colour</b> </ion-label>
  </ion-item>
  <ion-item>
    You can upload a photo of the colour of the water, avoiding reflections from
    the sun: Hold the camera 40-45 degrees from horizontal towards the water
    surface. With the sun straight at your back rotate 45 degrees to your left
    or your right to have the sun diagonally over your left or right shoulder.
  </ion-item>

  <ion-item> <img src="assets/images/bodypos.png" /><br /> </ion-item>

  <ion-item>
    To add a photo click here:

    <ion-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-button>

    <img [src]="this.ColouratSurfacePictureTaken" />
  </ion-item>

  <ion-item>
    <ion-label
      >Looking at the water surface in this direction, the colour of the water
      is <br />
      most similar to Forel-Ule colour number (1-21):
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="colouratsurface"
      type="number"
      inputmode="numeric"
      placeholder="Enter colour value here"
    ></ion-input
  ></ion-item>
  <ion-item>
    <ion-label><b>Quality control check-list</b></ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="bottom_visible"></ion-checkbox>
    <ion-label class="ion-text-wrap"
      >The bottom was visible / the disk reached the bottom while I could still
      see it.</ion-label
    >
  </ion-item>

  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="end_of_tape"></ion-checkbox>&nbsp;
    <ion-label class="ion-text-wrap"
      >I reached the end of the tape while I could still see the disk</ion-label
    >
  </ion-item>

  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox
    ><ion-label class="ion-text-wrap">
      I was not able to keep the disk going down at a straight angle. The
      estimated distance angle is:</ion-label
    >
  </ion-item>
  <ion-item>
    <ion-input
      [(ngModel)]="angle_estimated"
      type="number"
      inputmode="numeric"
      value="01"
      placeholder="Enter"
    ></ion-input
    ><ion-label class="ion-text-wrap"> degrees from vertical.</ion-label>
  </ion-item>

  <ion-button
    expand="block"
    (click)="validate()"
    routerLink="/ms_measure/qccheck"
    routerDirection="forward"
  >
    Go to step 5
  </ion-button>
</ion-content>
