<ion-header class="ion-no-border">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">4. Color of the water</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
Colour of the water surface
Estimate the Forel-Ule colour scale by looking at the water surface, away from sun glitter.
</ion-item>
<ion-item>

<img src="assets/images/bodypos.png"><br>
</ion-item>


<ion-item>

Keeping the sun diagonally behind you over your left or right shoulder, look down and forward to the water surface (40-45 degrees) and compare the colour of the water to the Forel-Ule index. Optionally upload another photo using the same viewing angles.</ion-item>
<img src="assets/images/forelule.png"><br>
    <ion-button expand="block" routerLink="../step5" routerDirection="forward" >


Step 5
</ion-button>
</ion-content>
