<ion-header>
  <ion-toolbar>
    <ion-title>5. Additional</ion-title>
       <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
  
</ion-header>

<ion-content>
<ion-item>
pH (acidity)
</ion-item>
<ion-item>

If you deployed the mini-Secchi disk with pH paper, compare the colour of the pH paper to the pH colour scale. 

Natural waters are usually only slightly acidic (6) or alkalic (8). The acidity of the water gives an indication of how much Carbon is dissolved in the water and whether algae or plants are likely to grow.
</ion-item>
<ion-item>

<img src="assets/images/ph.png"><br>

</ion-item>



 <ion-button expand="block" routerLink="/home" routerDirection="root">Finish
</ion-button>
</ion-content>
