<ion-header class="ion-no-border">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">PREPARE</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
        <ion-title size="large">Prepare the device</ion-title>

<ion-item>
Attach (optional) pH Strip</ion-item>
<ion-item>
<img src="assets/images/attachph.png">
</ion-item>



<ion-item>
1. Hand through strap</ion-item>
<ion-item>
<img src="assets/images/handtroughstrap.png">
</ion-item>

<ion-item>
2. Take disk from body</ion-item>
<ion-item>

<img src="assets/images/takediskfrombody.png">
</ion-item>

<ion-item>
3. Finger through clip</ion-item>
<ion-item>

<img src="assets/images/fingertroughclip.png">
</ion-item>

<ion-item>

4. Unlock spindle</ion-item>
<ion-item>

<img src="assets/images/unlockspindle.png"></ion-item>

<ion-item>

5. Ready!</ion-item>
<ion-item>

<img src="assets/images/ready.png"></ion-item>



    <ion-button expand="block"  routerLink="step2" routerDirection="forward" >
 Step 2
 </ion-button>



</ion-content>
