<ion-header>
  <ion-toolbar>
    <ion-title>Prepare</ion-title>

   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-title size="large">Prepare the device</ion-title>

<ion-item>
Attach (optional) pH Strip</ion-item>
<ion-item>
<img src="assets/images/attachph.png">
</ion-item>



<ion-item>
1. Hand through strap</ion-item>
<ion-item>
<img src="assets/images/handtroughstrap.png">
</ion-item>

<ion-item>
2. Take disk from body</ion-item>
<ion-item>

<img src="assets/images/takediskfrombody.png">
</ion-item>

<ion-item>
3. Finger through clip</ion-item>
<ion-item>

<img src="assets/images/fingertroughclip.png">
</ion-item>

<ion-item>

4. Unlock spindle</ion-item>
<ion-item>

<img src="assets/img/unlockspindle.png"></ion-item>

<ion-item>

5. Ready!</ion-item>
<ion-item>

<img src="assets/images/ready.png"></ion-item>



    <ion-button expand="block"  routerLink="/instructions/step2" routerDirection="forward" >
 Step 2
 </ion-button>



</ion-content>
