<ion-header>
  <ion-toolbar>
    <ion-title>2. Transperancy</ion-title>

   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item>

Turning the spindle, lower the disk until it disappears from view, then raise the disk until it re-appears. Record the re-appearance distance. 
</ion-item>
<ion-item>

<img src="assets/images/transperancy.png"><br>
</ion-item>
<ion-item>

The app will now calculate the Secchi disk depth (re-appareance distance minus distance to water)
</ion-item>








    <ion-button expand="block"   routerLink="/instructions/step3" routerDirection="forward" >
 Step 3
 </ion-button>



</ion-content>
