<ion-header class="ion-no-border">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">2. Transparancy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item>

Turning the spindle, lower the disk until it disappears from view, then raise the disk until it re-appears. Record the re-appearance distance.
</ion-item>
<ion-item>

<img src="assets/images/transperancy.png"><br>
</ion-item>
<ion-item>

The app will now calculate the Secchi disk depth (re-appareance distance minus distance to water)
</ion-item>








    <ion-button expand="block"   routerLink="../step3" routerDirection="forward" >
 Step 3
 </ion-button>



</ion-content>
