<ion-header class="ion-no-border">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">3. Disk color</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>

Record the colour of the disk, as it appears at half the Secchi depth, by raising the disk to the distance calculated by the app. </ion-item><ion-item>

<img src="assets/images/diskcolor.png"><br>
</ion-item>
<ion-item>

The app will now calculate the Secchi disk depth (re-appareance distance minus distance to water)
</ion-item>


    <ion-button expand="block"   routerLink="../step4" routerDirection="forward" >
 Step 4
 </ion-button>



</ion-content>
