    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>M O B I S</ion-title>

        <ion-buttons slot="start">
          <ion-menu-button slot="start"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>



<ion-content class="ion-padding">

<ion-card>
  <ion-card-title>{{ "measure.welcome-to-mobis" | translate }}</ion-card-title>
  <ion-card-header>{{ "measure.measure" | translate }}</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-list-header>
        {{ "measure.water-quality" | translate }}
      </ion-list-header>
      <ion-button shape="round"  expand="block" routerLink="/minisecchi"  strong="true" routerDirection="forward" >
        {{ "measure.new-mini-secchi-observation" | translate }}       </ion-button>

       <ion-button shape="round"  expand="block" routerLink="/ispex" routerDirection="forward" strong="true" routerDirection="forward" >
        {{ "measure.new-ispex2-observation" | translate }}       </ion-button>

      <ion-list-header>
        {{ "measure.air-quality" | translate }}
      </ion-list-header>
      <ion-button shape="round"  expand="block" routerLink="/canairiopm25" routerDirection="forward" strong="true" routerDirection="forward" >
        {{ "measure.new-canairiopm25-observation" | translate }}
         </ion-button>

         <ion-button shape="round"  expand="block" routerLink="/canairioco2" routerDirection="forward" strong="true" routerDirection="forward" >
          {{ "measure.new-canairioco2-observation" | translate }}
           </ion-button>
  

      <ion-list-header>
        {{ "measure.biodiversity" | translate }}
      </ion-list-header>
      <ion-button shape="round"  expand="block" routerLink="/plantnet" routerDirection="forward" strong="true" routerDirection="forward" >
        {{ "measure.new-plantnet-observation" | translate }}
         </ion-button>
    </ion-list>

  </ion-card-content>
</ion-card>





</ion-content>
